#characterDesigner {
	display: grid;
	grid-template-columns: 320px auto;
	grid-template-rows: 220px 100px auto;
}

#characterDesigner #closeButtonHolder {
	position: absolute;
	right: 0;
	top: 0;
}

#characterDesigner #generalInfo {
	background-color: var(--main-blue-dark);
	display: flex;
	flex-direction: column;
	grid-column: 1;
	grid-row: 1;
}

#characterDesigner #generalInfo input {
	border: 0;
	font-family: 'Red Circle';
	font-size: 15px;
	margin: 0 0 4px 0;
	overflow: visible;
	padding: 0;
	background-clip: initial;
	background-color: var(--header-gold);
    background-image: linear-gradient(to bottom, var(--header-gold), var(--header-gradient));
    background-size: 100%;
	white-space: nowrap;
	width: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

#characterDesigner #ATinfo {
	align-items: center;
	display: flex;
}

#characterDesigner #ATname {
	flex-basis: 2;
	font-family: 'Red Circle';
	font-size: 14px;
	display: inline;
	margin: 0;
	padding: 0;
	color: white;
	white-space: nowrap;
}

#characterDesigner #ATinfo > *:first-child {
	width: 50%;
}

#characterDesigner #powersetSelection {
	display: flex;
}

#characterDesigner #powersetSelection > * {
	width: 50%;
}

#characterDesigner #powerPools {
	flex-basis: 100%;
	margin-top: 8px;
}

#characterDesigner #powerPools #poolList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0px 10px;
}

#characterDesigner #powerPools #poolList > * {
	background-color: silver;
	border-radius: 4px;
	color: black;
	padding: 0 4px;
	margin: 2px 0;
	width: 40%;
}

#characterDesigner #generalControls {
	align-items: center;
	background-color: var(--main-blue-dark);
	display: flex;
	flex-wrap: wrap;
	grid-column: 1;
	grid-row: 2;
	justify-content: space-around;
}

#characterDesigner #powerData {
	grid-column: 1;
	grid-row: 3;
}

.Villain #characterDesigner #generalInfo, .Villain #characterDesigner #generalControls {
	background-color: var(--main-red-dark);
}