#characterDesigner {
	display: grid;
	grid-template-columns: 320px auto;
	grid-template-rows: 220px 100px auto;
}

#characterDesigner #closeButtonHolder {
	position: fixed;
	right: 12px;
	top: 0;
	z-index: 10;
}

#characterDesigner #characterInfoPanel {
	grid-column: 1;
	grid-row: 1;
}

#characterDesigner #designerControls {
	grid-column: 1;
	grid-row: 2;
}

#characterDesigner #detailPanel {
	grid-column: 1;
	grid-row: 3;
}

#characterDesigner #powerPanel {
	grid-column: 2;
	grid-row: 1 / 4;
}

@media screen and (max-width: 680px) {

	#characterDesigner {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 220px 100px auto auto;
		position: relative;
	}

	#characterDesigner #closeButtonHolder {
		position: absolute;
		right: 8px;
		top: 16px;
	}

	#characterDesigner #detailPanel {
		display: none;
		grid-column: 0;
		grid-row: 0;
		position: absolute;
	}

	#characterDesigner #powerPanel {
		grid-column: 1;
		grid-row: 4;
	}
}