#modalSelectPower {
	height: 400px;
	position: relative;
	width: 600px;
}

#modalSelectPower h3 {
	background-clip: initial;
	background-color: #f3ec78;
    background-image: linear-gradient(to bottom, var(--header-gold), var(--header-gradient));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
	text-align: left;
}

#modalSelectPower #modalCloseHolder {
	position: absolute;
	right: -8px;
	top: 0;
}

#modalSelectPower #powerSelectionPanel {
	display: flex;
	height: calc(100% - 40px);
	justify-content: center;
	margin-top: 8px;
}

#modalSelectPower #powerSelectionPanel > div {
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0px;
	white-space: nowrap;
	width: 100%;
}

#modalSelectPower #powerSelectionPanel #powersetList > div, #modalSelectPower #powerSelectionPanel #selectPowerList > div:first-child > div {
	align-items: center;
	display: flex;
	cursor: pointer;
	padding: 0px 8px;
}

#modalSelectPower #powerSelectionPanel #powersetList * img {
	margin-right: 4px;
}

#modalSelectPower #powersetList *.selected, #modalSelectPower #selectPowerList > div *.selected {
	background-color: var(--main-blue-dark);
}

#modalSelectPower #powerSelectionPanel > div:first-child > *.selected::after {
	content: '►';
	position: absolute;
	right: 4px;
}

#modalSelectPower #powerSelectionPanel #powersetList *:hover, #modalSelectPower #selectPowerList > div:first-child > *:hover {
	background-color: var(--main-blue);
}

#modalSelectPower #powerSelectionPanel #selectPowerList {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	padding: 0px;
	position: relative;
}

#modalSelectPower #selectPowerList > div:first-child {
	overflow-y: auto;
}

#modalSelectPower #powerSelectionPanel #selectPowerList *.taken {
	color: #a0a0a0;
}

#modalSelectPower .spaceMe {
	border-top: solid 1px var(--main-blue);
	margin: 8px 8px 0px 8px;
	padding: 0px !important;
}

#modalSelectPower #powerInfo {
	bottom: -1px;
	margin: 0px -1px;
	max-height: 50%;
	overflow-y: auto;
	padding: 0px;
	position: relative;
	white-space: normal;
}

#modalSelectPower #powerInfo div:last-child {
	font-size: 13px;
	padding: 8px 12px;
}

#modalSelectPower #powerInfo .header {
	text-align: center;
}

#modalSelectPower #powerInfo i {
	font-size: 10px;
}

.Villain #modalSelectPower #powersetList *.selected, .Villain #modalSelectPower #selectPowerList > div *.selected {
	background-color: var(--main-red-dark);
}

.Villain #modalSelectPower #powerSelectionPanel #powersetList *:hover, .Villain #modalSelectPower #selectPowerList > div:first-child > *:hover {
	background-color: var(--main-red);
}

.Villain #modalSelectPower .spaceMe {
	border-color: var(--main-red);
}

@media screen and (max-width: 680px) {
	#modalSelectPower {
		height: 80%;
		width: 100%;
	}

	#modalSelectPower #powerSelectionPanel > #powersetList > div, #modalSelectPower #powerSelectionPanel #selectPowerList > div:first-child > div {
		height: 30px;
	}

	#modalSelectPower #powerSelectionPanel > div:first-child > *.selected::after {
		content: '';
	}
}