/* Stretch to fit whatever container we're in! */
div.enhancement {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
}

div.enhancement img {
	border: none;
	height: 100%;
	width: 100%;
}