#modalAccoladeSelection {
	position: relative;
}

#modalAccoladeSelection h2 {
	margin: 0 50px;
}

#modalAccoladeSelection #closeButton {
	position: absolute;
	right: 12px;
	top: 8px;
}

#modalAccoladeSelection div {
	align-items: center;
	display: flex;
	flex-direction: column;
}

#modalAccoladeSelection > div button {
	margin-top: 8px;
}

#modalAccoladeSelection > div > div {
	margin-top: 8px;
	padding: 20px;
	width: 380px;
}

#modalAccoladeSelection > div > div:last-of-type {
	height: 128px;
	padding: 8px 20px;
}

#modalAccoladeSelection > div > div p {
	font-size: 10px;
	margin: 4px 0px;
}

#modalAccoladeSelection > div > div > button {
	margin: 6px 20px;
}

#modalAccoladeSelection button.inactive, #modalAccoladeSelection button.inactive::before, #modalAccoladeSelection button.inactive::after {
	background-color: #404040;
}

#modalAccoladeSelection button.inactive:hover, #modalAccoladeSelection button.inactive:hover::before, #modalAccoladeSelection button.inactive:hover::after {
	background-color: #606060;
}

@media screen and (max-width: 680px) {
	#modalAccoladeSelection > div > div {
		width: 300px;
	}
}