div.slotWidget {
	display: flex;
}

div.slotWidget > div {
	padding: 0 2px;
}

div.slotWidget > div {
	cursor: pointer;
}

div.slotWidget > div > * {
	background: var(--main-blue) url('../../assets/images/ui/enhancementSlot.png') no-repeat top right;
	background-size: 100%;
	border-radius: 50%;
	height: 32px;
	margin: 0;
	padding: 0;
	width: 32px;
}

div.slotWidget > div:hover > * {
	background-color: var(--main-blue-highlight);
}

div.slotWidget > div.selected > *, div.slotWidget > div.selected:hover > * {
	background-color: var(--button-confirm-highlight) !important;
	cursor: default;
}

div.slotWidget > div.addMe {
	align-items: center;
	display: flex;
	font-family: 'Red Circle';
	font-size: 24px;
	font-weight: bold;
	justify-content: center;
	opacity: 0.5;
}

div.slotWidget > div.addMe:hover {
	opacity: 0.75;
}

.Villain div.slotWidget > div > * {
	background-color: var(--main-red);
}

.Villain div.slotWidget > div > *:hover {
	background-color: var(--main-red-highlight);
}