#modalEnhancePower {
	display: flex;
	flex-direction: column;
	height: 400px;
	width: 600px;
}

#modalEnhancePower #enhanceHeader {
	display: flex;
}

#modalEnhancePower #enhanceHeader h3 {
	flex-basis: 99%;
	background-clip: initial;
	background-color: #f3ec78;
    background-image: linear-gradient(to bottom, var(--header-gold), var(--header-gradient));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

#modalEnhancePower #modalEnhancePower button {
	background-color: yellow;
	flex-basis: 1%;
	margin: 0px 8px;
}

#modalEnhancePower #widgetHolder {
	display: flex;
	justify-content: center;
	margin: 8px 0px;
}

#modalEnhancePower #widgetHolder div.slotWidget {
	width: 212px;
}

#modalEnhancePower div.slotWidget > div:hover > * {
	box-shadow: 0px 0px 5px 2px var(--main-blue);
}

#modalEnhancePower div.slotWidget > div.selected {
	pointer-events: none;
}

#modalEnhancePower div.slotWidget > div.selected > *, #modalEnhancePower div.slotWidget > div.selected:hover > * {
	box-shadow: 0px 0px 2px 2px var(--button-confirm-highlight);
}

.Villain #modalEnhancePower div.slotWidget > div:hover > * {
	box-shadow: 0px 0px 5px 2px var(--main-red);
}

@media screen and (max-width: 680px) {
	#modalEnhancePower {
		margin: 0px 10px;
		height: 90%;
		width: 100%;
	}
}